@mixin slide_img-hidden($img) {
    transform: translateX(100vw);
    .slide_img {
        height: 100%;
        background: {
            image: $img;
            repeat: no-repeat;
            position: center;
            size: cover;
        }
    }
}
